Source: debian-el
Section: editors
Priority: optional
Maintainer: Debian Emacsen team <debian-emacsen@lists.debian.org>
Uploaders:
 David Bremner <bremner@debian.org>,
 Xiyue Deng <manphiz@gmail.com>,
Build-Depends: debhelper-compat (= 13),
 dh-elpa,
 texinfo
Standards-Version: 4.7.2
Homepage: https://salsa.debian.org/emacsen-team/debian-el
Vcs-Browser: https://salsa.debian.org/emacsen-team/debian-el
Vcs-Git: https://salsa.debian.org/emacsen-team/debian-el.git
Testsuite: autopkgtest-pkg-elpa

Package: elpa-debian-el
Architecture: all
Depends: bzip2,
         reportbug,
         xz-utils,
         zstd,
         ${elpa:Depends},
         ${misc:Depends}
Recommends: emacs, wget
Enhances: emacs
Description: Emacs helpers specific to Debian users
 This package contains:
 .
 apt-sources - major mode for editing Debian sources.list files;
 apt-deb822-sources - major mode for editing deb822-style Debian
                      sources.list files;
 apt-utils - interface to APT (Debian package management);
 debian-bug - an Emacs command to submit a bug report;
 deb-view - view contents of Debian package, similarly to tar-mode;
 gnus-BTS - provides buttons for bug numbers seen in Gnus messages;
 preseed - major mode for editing debian-installer preseed files.
